/* Google Font Added */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Open+Sans:wght@300;400;700;800&family=Space+Mono:wght@700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* Header Section */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

nav>ul {
    display: flex;
}

nav a {
    text-decoration: none;
    color: #424242;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

/* Banner Section styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.text-light-gray {
    color: #727272;
}

.btn-primary {
    border-style: none;
    padding: 20px 25px;
    border-radius: 8px;
    background: #FF900E;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}

/* This Is Main Setion */
main {
    max-width: 1440px;
    margin: 0px auto;
}

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-right: 70px;
    padding-left: 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-title .quick-list {
    color: #727272;
    font-weight: 500;
}

.teams-title .text-features {
    color: #FF900E;
    font-weight: 700;
}

/* Features section styles */
.features {
    display: flex;
    margin-top: 130px;
    gap: 100px;
}

.features .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-content .card {
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.feature-img img {
    height: 90%;
    margin-left: 90px;
}

.ten-years-badge {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 340px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}

.ten-years-badge h2 {
    font-size: 4rem;
    margin: 0px;
}

.ten-years-badge p {
    font-size: 1.5rem;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

/* Facts Section */
.facts-card-container {
    display: flex;
    justify-content: space-around;

}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px 30px;
}

.facts-card-container .card-title {
    font-weight: 600;
    color: #727272;
    font-size: 1.25rem;
    margin-top: 5px;
}

.facts-card-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* sponsors section styles */
.sponsors {
    text-align: center;
}

.sponsor-img-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    gap: 40px;
}

.sponsor-img-container img {
    width: 165px;
    margin-bottom: 130px;
}

.footer {
    width: 70%;
    height: 100px;
    margin: auto;
    margin-bottom: 100px;
    text-align: center;
    border-radius: 8px;
    background: #FFF4E7;
    color: #424242;
    font-size: 1.5rem;
    padding-top: 20px;
}

/* Responsive Styles Section */
/* For Mobile Devices */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .features,
    .facts-card-container,
    .sponsor-img-container {
        flex-direction: column;
    }

    .feature-img img {
        width: 90%;
        margin-left: 0;
    }

    .ten-years-badge {
        position: static;
        width: 300px;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content,
    .facts-card-container {
        padding-right: 20px;
        padding-left: 20px;
    }

    .facts-card-container {
        gap: 20px;
    }
    .footer {
        width: 100%;
        height: 150px;
    }
}

/* For tablets Or Medium Devices */
@media screen and (min-width:576px) and (max-width:960px) {

    nav,
    .teams-container,
    .features,
    .sponsor-img-container {
        flex-direction: column;
    }

    header {
        padding: 50px;
    }
}